.apply {
	margin: 120px 0 160px;
	height: 395px;
	background-color: $bg-color-apply;
	&__img {
		&--main {
			transform: translate(-50%, -50%);
			top: 50%;
			left: 27%;
			border-radius: 14px;
			padding: 64px 24px;
			background-color: $bg-color-blue;
			box-shadow: 0px 20px 40px rgba(4, 0, 98, 0.05);
		}
		&--text {
			right: 103px;
			top: 0;
			transform: translateY(-50%);
		}
	}
	&__text {
		margin-bottom: 40px;
	}
	&__subtext {
		display: inline;
		font-family: 'Euclid Circular B';
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		color: $text-color;
	}
	&__link {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		text-decoration-line: underline;
		color: $text-color;
	}
}

.form {
	display: flex;
	gap: 20px;
	height: 52px;
	margin-bottom: 24px;
	&__input {
		border: none;
		width: 341px;
		padding: 15px 25px;
		border-radius: 9999px;
		&::placeholder {
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			color: $text-color;
		}
	}
}
