.footer {
	position: relative;
	padding: 80px 36px;
	display: flex;
	justify-content: space-between;
	&::before {
		position: absolute;
		content: '';
		width: calc(100% - 70px);
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 1px;
		background-color: $border-color;
	}
	&__contact-info {
		display: flex;
		gap: 120px;
	}
	&__title {
		font-weight: 400;
		font-size: 22px;
		line-height: 33px;
		color: $main-color;
		margin-bottom: 12px;
	}
	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 32px;
		color: $text-color;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 32px;
		color: $text-color;
	}
	&__copyright-info {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: $text-color;
		text-align: right;
	}
}

.copyright {
	&__link {
		text-decoration: underline;
	}
}
.socials {
	&__list {
		display: flex;
		gap: 30px;
		margin-bottom: 24px;
	}
}
