.section {
	position: relative;
	height: 648px;
	&__content {
		position: absolute;
		width: 500px;
		transform: translateY(-50%);
		top: 50%;
	}
	&--to-left {
		.section__content {
			right: 0;
			margin-right: 60px;
		}
		flex-direction: row-reverse;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			height: 100%;
			background-color: $bg-color-orange;
			width: calc(100% / 2);
			z-index: -1;
		}
		.phone-img {
			transform: translate(-50%, -50%);
			left: 25%;
		}
	}
	&--to-right {
		.section__content {
			left: 0;
			margin-left: 60px;
		}
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			content: '';
			height: 100%;
			background-color: $bg-color-blue;
			width: calc(100% / 2);
			z-index: -1;
		}
		.phone-img {
			transform: translate(50%, -50%);
			right: 25%;
		}
	}
	&__title {
		font-weight: 900;
		font-size: 48px;
		line-height: 60px;
		margin-bottom: 32px;
	}
	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		color: $text-color;
	}
	img {
		position: absolute;
	}
}
