@media screen and (max-width: 1326px) {
	.container {
		max-width: 965px;
		padding: 0 15px;
	}
	.hero {
		&__title {
			padding-top: 60px;
			font-size: 40px;
			line-height: 60px;
			&--bigger {
				font-size: 60px;
				line-height: 80px;
			}
			&--biggest {
				font-size: 80px;
				line-height: 110px;
			}
		}
		&__img {
			&--person {
				&-right {
					top: 606px;
				}
				&-left {
					top: 593px;
				}
			}
			&--bg {
				&-right {
					top: 466px;
				}
				&-left {
					top: 455px;
				}
			}
			&--line {
				&-right {
					top: 382px;
					right: 518px;
				}
				&-left {
					top: 382px;
					left: 518px;
				}
			}
			&--logo {
				top: 360px;
				width: 36.8px;
				height: 48px;
			}
		}
	}
	.section {
		height: 820px;

		&__content {
			top: 30%;
			width: 346px;
		}
	}
	.phone-img {
		top: 40%;
	}
	.relationship {
		&__img {
			&--bg {
				top: 344px;
			}
		}
	}
	.apply {
		height: 395px;
		.section__content {
			top: 50%;
		}
	}
	.footer {
		padding: 60px 26px;
		&__contact-info {
			gap: 80px;
		}
	}
}
