@media screen and (max-width: 965px) {
	.container {
		max-width: 665px;
		padding: 0 15px;
	}
	.burger-menu {
		display: block;
		width: 20px;
		height: 20px;
		span {
			content: '';
			display: block;
			position: relative;
			width: 20px;
			height: 2px;
			background-color: $main-color;
			transition: all 0.3s ease-in-out;
			&::after,
			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 20px;
				height: 2px;
				background-color: $main-color;
				transition: transform 0.5s ease-in-out;
			}
			&::after {
				bottom: -7px;
			}
			&::before {
				top: -7px;
			}
		}
	}
	.header {
		&__nav {
			position: absolute;
			display: block;
			top: -210px;
			left: 0;
			right: 0;
			text-align: center;
			z-index: -1;
			transition: all 0.3s ease-in-out;
		}
		&__container::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
			z-index: -1;
		}
		&__buttons {
			.lang {
				display: none;
			}
		}
	}
	.menu--opened {
		top: 92px;
	}
	.btn--close {
		span {
			transform: rotate(45deg);

			&::after {
				transform: rotate(90deg);

				top: 0;
			}
			&::before {
				transform: rotate(-90deg);
				top: 0;
			}
		}
	}
	.section {
		height: 940px;
		&--to-left,
		&--to-right {
			.section__content {
				margin: 0;
				top: 5%;
				left: 50%;
				right: 50%;
				transform: translateX(-50%);
				width: 346px;
				text-align: center;
			}
		}
	}
	.nav {
		&__list {
			flex-direction: column;
			gap: 0;
			background-color: $white-color;
		}
		&__item {
			padding: 10px 0;
		}
		&__link {
			font-size: 16px;
			color: $main-color;
		}
		&__button {
			font-size: 14px;
		}
	}
	.hero {
		height: 760px;
		&__title {
			padding-top: 40px;
			font-size: 40px;
			line-height: 60px;
			&--bigger {
				font-size: 60px;
				line-height: 80px;
			}
			&--biggest {
				font-size: 80px;
				line-height: 110px;
			}
		}
		&__img {
			&--person {
				&-right {
					width: 307px;
					top: 573px;
					right: 0;
				}
				&-left {
					width: 301px;
					top: 563px;
					left: 0;
				}
			}
			&--bg {
				&-right {
					width: 272px;
					top: 420px;
					right: 20px;
				}
				&-left {
					width: 271px;
					top: 409px;
					left: 20px;
				}
			}
			&--line {
				&-right {
					top: 342px;
					right: 368px;
				}
				&-left {
					top: 342px;
					left: 368px;
				}
			}
			&--logo {
				top: 320px;
				width: 36.8px;
				height: 48px;
			}
		}
	}
	.phone-img {
		top: 70%;
	}
	.objectives {
		&__img {
			&--person {
				left: 356px;
			}
			&--bg {
				left: 282px;
			}
		}
	}
	.relationship {
		&__img {
			&--people {
				right: 303px;
			}
			&--bg {
				top: 464px;
				right: 282px;
			}
		}
	}
	.connection {
		&__img {
			&--person {
				left: 356px;
			}
			&--bg {
				left: 136px;
			}
		}
	}
	.data {
		&__img {
			&--person {
				right: 383px;
			}
			&--bg {
				right: 282px;
			}
		}
	}
	.health {
		&__img {
			&--people {
				left: 386px;
			}
			&--bg {
				left: 316px;
			}
		}
	}
	.apply {
		margin: 80px 0 80px;
		height: 395px;
		&__img--main {
			display: none;
		}
	}
	.footer {
		padding: 60px 26px;
		.site-logo {
			grid-row-start: 1;
			grid-row-end: span 3;
		}
		&__contact-info {
			display: grid;
			grid-template-columns: 1fr 2fr;
			column-gap: 40px;
			row-gap: 0;
		}
		&__section {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 20px;
		}
		&__title {
			grid-row-start: 1;
			grid-row-end: span 2;
		}
	}
}
