.container {
	max-width: 1296px;
	margin: 0 auto;
}

.phone-img {
	top: 50%;
}

.btn {
	max-height: 52px;
	padding: 10px 20px;
	border-radius: 9999px;
	background-color: $button-color;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	color: $white-color;
}
