@font-face {
	font-family: 'Euclid Circular B';
	src: url('../fonts/EuclidCircularB-Regular.woff2')
		format('woff2');
}

@font-face {
	font-family: 'Cabernet JF Pro';
	src: url('../fonts/Cabernet\ JF\ Pro.woff2')
		format('woff2');
}
